<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">

  <style>
    [v-cloak] {
      display: none;
    }
  </style>

  <title>Music Library</title>
</head>

<body>

  <section class="section">
    <div id="app" class="container" v-cloak>

      <h1 class="title" v-text="appName" v-once></h1>

      <div class="columns">
        <div class="column">
          <input type="text" v-model.trim="searchQuery" 
            v-on:keyup.enter="search" class="input is-medium" placeholder="Enter search query..." />
        </div>
        <div class="column is-narrow">
          <div class="select is-medium">
            <select v-model="searchCategory">
              <option value="">Select a category...</option>
              <option v-for="category in categories" 
                v-bind:value="category">{{ category }}</option>
            </select>
          </div>
        </div>
        <div class="column is-narrow">
          <button v-on:click="search" class="button is-primary is-medium">Search</button>&nbsp;
          <button v-on:click="clearSearch" class="button is-warning is-medium">Clear</button>    
        </div>
      </div>
  
      <div v-show="showSearchCriteria && (searchQuery || searchCategory)" class="notification is-info">
        <span v-show="searchQuery">Search Query: {{ searchQuery }}</span><span v-show="searchQuery && searchCategory">, </span><span v-show="searchCategory">Search Category: {{ searchCategory }}</span>
      </div>
  
      <div class="columns is-multiline" v-if="searchResults.length">
        <div class="column is-half" v-for="album in searchResults">
          <div class="box">
            <div class="columns">
              <div class="column">
                <figure class="image is-square">
                  <img v-bind:src="`img/${album.id}.png`" v-bind:alt="album.title" />
                </figure>
              </div>
              <div class="column">
                <h2 class="title">{{ album.title }}</h2>
                <h3 class="subtitle">{{ album.artist }}</h3>
                <div>
                  Category: {{ album.category }}
                </div>
              </div>      
            </div>      
          </div>
        </div>
      </div>
  
      <div v-else>
        <div>Sorry... no results were found that matched your search criteria.</div>
      </div>
    
    </div>
  </section>

  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
  <script src="app.js"></script>
</body>

</html>